@using AddressBook.Data
@model Address

@inject AddressBookDbContext _context;
@{
    ViewData["Title"] = "Home Page";
    var data = ViewBag.context as AddressBookDbContext;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Address Book</title>
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true"/>
    
</head>

<body>
    <header class="page-header">
        <h1 class="page-title">Address Book</h1>
        <nav class="page-navigation">
            <ul class="page-nav-items">
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li><a asp-controller="Add" asp-action="Index">Add</a></li>
            </ul>
            <img src="~/images/blog-icon.png" alt="Blog" />
        </nav>
    </header>
        <div class="page-form" >
        <div class="contact-list">
                <div class="contact-list-header">
                    <h3>Contacts</h3>
                </div>
                <div class="contact-list-items" id="ContactListItems">
                    
                    @foreach (var contact in @data.Addresses.ToList())
                    {
                    
                    
                        if (contact.Id == Model.Id)
                        {
                            <a asp-controller="Select" asp-action="Index" asp-route-id=@contact.Id>
                                <div class="contact-list-item" style="background-color: #CEE7F2">
                                <p style="display:none">@contact.Id</p>
                                <p class="contact-name" >@contact.Name</p>
                                <p class="contact-email">@contact.Email</p>
                                <p class="contact-mobile">@contact.MobileNumber</p>
                                </div>
                            </a>
                            continue;
                        }
                    

                        
                    
                    <a asp-controller="Select" asp-action="Index" asp-route-id=@contact.Id>
                        <div class="contact-list-item">
                            <p style="display:none">@contact.Id</p>
                            <p class="contact-name" >@contact.Name</p>
                            <p class="contact-email" >@contact.Email</p>
                            <p class="contact-mobile" >@contact.MobileNumber</p>
                        </div>
                    </a>
                    }

                </div>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    
</body>
</html>